/* Styleable variables are in the base layer so they can be overridden easily */
@layer base {
    :host {
        --ilw-award-category--font: var(--il-font-sans); /*var Set the font used for the nav*/
        --ilw-award-category--font-size: 18px; /*var Base size for text*/
        --ilw-award-category--heading-color: var(--il-orange); /*var Category heading color*/
        --ilw-award-category--heading-weight: bold; /*var Category heading weight*/
        --ilw-award-category--heading-size: 1.61111em; /*var Category heading font size*/
        --ilw-award-category--heading-padding: 0.3rem 0; /*var Category heading padding*/
        --ilw-award-category--heading-border: 2px solid #e2e3e3; /*var Category border*/
        --ilw-award-category--padding: 0 1.5rem; /*var Category padding*/
        --ilw-award-category--li-margin: 2rem 0 0 0; /*var Category list element margin*/
        --ilw-award-category--li-heading-size: 1.16666em; /*var Category list element heading size*/
        --ilw-award-category--li-heading-font-weight: 600; /*var Category list element heading font weight*/
        --ilw-award-category--li-heading-font-style: italic; /*var Category list element heading font weight*/
        --ilw-award-category--li-heading-color: var(--il-orange); /*var Category list element heading color*/
        --ilw-award-category--li-heading-margin: 0.2rem 0; /*var Category list element heading margin*/
        --ilw-award-category--li-heading-padding: 0; /*var Category list element heading padding*/
        --ilw-award-category--line-height: 1.6666; /*var Category content line height*/
        --ilw-award-category--heading-margin: 3rem 0 0 0; /*var Category heading margin*/
    }

    :host([theme=blue]) {
        --ilw-award-category--li-heading-color: var(--il-blue);
        --ilw-award-category--heading-color: var(--il-blue);
    }
}

:host {
    display: block;
    font-family: var(--ilw-award-category--font);
    padding: var(--ilw-award-category--padding);
}

.heading {
    margin: var(--ilw-award-category--heading-margin);
    padding: var(--ilw-award-category--heading-padding);
    border-bottom: var(--ilw-award-category--heading-border);
}
