ilw-categories {
    > h1,
    > h2,
    > h3,
    > h4 {
        margin: 0;
        font-size: var(--ilw-categories--heading-size);
        line-height: 1.2;
        color: var(--ilw-categories--heading-color);
        font-weight: var(--ilw-categories--heading-weight);
    }
}
ilw-categories + ilw-categories {
    margin-top: var(--ilw-categories--spacing);
}

ilw-category {
    > h2,
    > h3,
    > h4,
    > h5 {
        margin: 0;
        font-size: var(--ilw-category--heading-size);
        line-height: 1.2;
        color: var(--ilw-category--heading-color);
        font-weight: var(--ilw-category--heading-weight);
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    ul li {
        margin: var(--ilw-category--li-margin);

        h3, h4, h5, h6 {
            font-size: var(--ilw-category--li-heading-size);
            font-weight: var(--ilw-category--li-heading-font-weight);
            line-height: 1.2;
            color: var(--ilw-category--li-heading-color);
            margin: var(--ilw-category--li-heading-margin);
            padding: var(--ilw-category--li-heading-padding);
        }
        p {
            line-height: var(--ilw-category--line-height);
        }
        p:first-of-type {
            margin-top: 0;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
}
